---
import TagMorph from './TagMorph.astro';
---

<section class="px-6 py-24">
  <div class="mx-auto max-w-6xl flex justify-center">
    <div class="mx-auto max-w-6xl">
      <TagMorph />
    </div>
  </div>
</section>